<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un cours</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nom du cours</ion-label>
      <ion-input type="text" formControlName="nom" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre d'étudiants</ion-label>
      <ion-input formControlName="nbEleves" required="true" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Professeur</ion-label>
      <ion-select formControlName="nomProf" required="true">
        <ion-select-option *ngFor="let prof of professeurs" [value]="prof.nom">{{prof.nom.toUpperCase()}} {{prof.prenom}}</ion-select-option>
      </ion-select>
    </ion-item>
    <span style="display: flex; justify-content: center; align-items: center;">
    <ion-button type="submit" expand="block" [disabled]="form.invalid" style="margin-top: 2rem; width: 50%;">Ajouter</ion-button>
    </span>
  </form>
</ion-content>
