<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Les cours - Diginamic
    </ion-title>
    <ion-button  color="danger" class="ion-margin" (click)="logout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Les cours - Diginamic</ion-title>
      </ion-toolbar>
    </ion-header>

    <app-menu></app-menu>
  </ion-content>
</ion-menu>


<ion-content class="ion-padding">
  <div id="main-content">
    <ion-text style="text-align: center">
      <h1>Gestion de cours</h1>
    </ion-text>
    <div class="card-container">
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title>Cours
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Grâce à cette application, vous pouvez gérer vos cours. Vous pouvez ajouter, modifier et supprimer des cours. Les cours sont liés à un professeur.
        </ion-card-content>
      </ion-card>


      <ion-card color="warning">
        <ion-card-header>
          <ion-card-title>Professeurs
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Grâce à cette application, vous pouvez gérer vos professeurs. Vous pouvez ajouter, modifier et supprimer des professeurs. Un professeur peut avoir un avatar.
        </ion-card-content>
      </ion-card>


      <ion-card color="medium">
        <ion-card-header>
          <ion-card-title>Menu</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Vous pouvez accéder au menu en cliquant sur le bouton en haut à gauche. Vous pouvez également vous déconnecter en cliquant sur le bouton en haut à droite.
          L'accès au menu permet d'ajouter, modifier et supprimer des cours et des professeurs.
        </ion-card-content>
      </ion-card>


    </div>
  </div>
</ion-content>


<app-footer></app-footer>


