<ion-header>
  <ion-toolbar>
    <ion-title>Liste des cours</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <p style="margin-left: 1rem;">Trier par :</p>
  <ion-row class="ion-align-items-center">
    <ion-col size="4">
      <ion-button (click)="sortByNomCours()" color="primary" expand="block">Cours <ion-icon name="caret-up-circle-outline" *ngIf="toggleNomCours"></ion-icon>
      <ion-icon name="caret-down-circle-outline" *ngIf="!toggleNomCours"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="sortByProfesseur()" color="primary" expand="block">Professeur <ion-icon name="caret-up-circle-outline" *ngIf="toggleNomProf"></ion-icon>
        <ion-icon name="caret-down-circle-outline" *ngIf="!toggleNomProf"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="sortByNbEleves()" color="primary" expand="block">Nombre d'élèves <ion-icon name="caret-up-circle-outline" *ngIf="toggleNbEleve"></ion-icon>
        <ion-icon name="caret-down-circle-outline" *ngIf="!toggleNbEleve"></ion-icon></ion-button>
    </ion-col>

  </ion-row>

  <ion-list>
    <ion-item *ngFor="let course of cours">
      <ion-label>
        <h2>{{course.nom}}</h2>
        <p>Nombre d'élèves : {{course.nbEleves}}</p>
        <p>Nom du professeur : {{course.nomProf}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
